<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <application>
        <meta-data android:name="firebase_messaging_auto_init_enabled" android:value="false" />
        <meta-data android:name="firebase_analytics_collection_enabled" android:value="false" />
        <meta-data android:name="firebase_messaging_notification_delegation_enabled" android:value="false" />
        <meta-data android:name="delivery_metrics_exported_to_big_query_enabled" android:value="false" />
        <service android:name="com.aamirazeez.afteryou.nativebridge.AfterYouMessagingService" android:exported="false">
            <intent-filter><action android:name="com.google.firebase.MESSAGING_EVENT" /></intent-filter>
        </service>
        <activity android:name="com.aamirazeez.afteryou.nativebridge.NotificationOpenActivity"
            android:exported="false" android:excludeFromRecents="true" android:taskAffinity=""
            android:theme="@android:style/Theme.NoDisplay" />
        <!-- Verified invite links (friend App Links). Requires the live assetlinks.json on aamirazeez.com. -->
        <activity android:name="com.aamirazeez.afteryou.nativebridge.InviteLinkActivity"
            android:exported="true" android:excludeFromRecents="true" android:noHistory="true" android:taskAffinity=""
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="aamirazeez.com" android:path="/after-you/link" />
                <data android:scheme="https" android:host="aamirazeez.com" android:path="/after-you/link/" />
            </intent-filter>
        </activity>
        <provider android:name="com.aamirazeez.afteryou.nativebridge.AfterYouPhotoProvider"
            android:authorities="${applicationId}.afteryou.photos"
            android:exported="false" android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/after_you_photo_paths" />
        </provider>
        <meta-data android:name="org.godotengine.plugin.v2.AfterYouAndroid"
            android:value="com.aamirazeez.afteryou.nativebridge.AfterYouAndroid" />
    </application>
</manifest>
